@media screen and (max-width: 52em) {
  .card-text {
    padding: 2.8rem;
  }

  .card-text-box h1 {
    font-size: 2.2rem;
  }

  .card-text-box p {
    font-size: 1rem;
  }

  .stats {
    width: 100%;
    gap: 2.8rem;
  }
  .stats div h2 {
    font-size: 1.2rem;
  }

  .stats div p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 27em) {
  .card {
    flex-direction: column-reverse;
    margin-top: 5rem;
  }

  .card-img {
    width: 100%;
  }

  .card-text {
    width: 100%;
  }
}
